@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e94e24;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dog {
  float: right;
  width: 750px;
  display: block;
  height: 800px;
  shape-outside: polygon(
    10.47% 9.88%,
    -2.91% 12.87%,
    -2.4% 26.21%,
    -2.56% 36.45%,
    8.77% 39.3%,
    26.52% 44.91%,
    33.27% 61.35%,
    26.36% 71.05%,
    22.48% 90.02%,
    23.69% 98.98%
  );
}
@media screen and (max-width: 1024px) {
  .dog {
    width: 60%;
    height: auto;
    float: none;
    align-self: center;
  }
}
